/chocoCleaner
/MainMenu
/moveFoldersFunction.ps1
/netgear passtxt.txt
/NetworkSettings
/powershell starting commands and troubleshooting.txt
/techpowerup w1zzard script
/Win10-Initial-Setup-Script-master-Original-files
/WindowsOptimization
/WindowsVersion